body {
  background-color: #eeebdd;
}

hr {
  border-bottom: dotted;
  border-left: none;
  border-top: none;
  border-right: none;
  border-color: darkgrey;
  border-width: 7px;
  width: 15%;
}

h1, h2, h3, h4, h5, h6 {
  color: #d6a41a;
}

a:hover {
  background-color: red;
}

.round-img {
    border-radius: 50%;    
}
